@import "../../../assets/styles/_variables/varables.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  border-bottom: 2px solid red;
  width: 100%;
  overflow: auto;
  position: fixed;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 2;
  background-color: $white;
}

.header__tab .MuiTab-root {
  min-width: 70px !important;
  margin-right: 6px;
}

.header__tab .MuiTabs-flexContainer a:hover {
  color: $blue;
  text-decoration: none !important ;
}

.header__tab .PrivateTabIndicator-root-1 {
  bottom: 2px !important;
}

p {
  font-size: 14px;
}
