.wrapper {
  border: 1px solid red;
}

.config__item {
  width: 174px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-160 {
  margin-right: 160px !important;
}

.dayTrader__badge {
  padding: 4px !important;
  font-size: 13.5px !important;
}
