// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Antd
@import "../node_modules/antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: initial;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

.cp {
  cursor: pointer !important;
}

@-ms-viewport {
  width: device-width;
}

.f-14 {
  font-size: 14px !important;
}

.text-bold {
  font-weight: bold !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.bg-red {
  background-color: $red;
}

.bg-black {
  background-color: $black;
}

.flex-0 {
  flex: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.tlf {
  table-layout: fixed !important;
}

.dayTrader__badge {
  padding: 3px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
}
