// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: initial;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

.cp {
  cursor: pointer;
}

@-ms-viewport {
  width: device-width;
}

.f-14 {
  font-size: 14;
}

.text-bold {
  font-weight: bold;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.bg-red {
  background-color: $red;
}

.bg-black {
  background-color: $black;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
